.app {
  min-height: 100vh;
  background-color: var(--background-bg);
  color: var(--foreground);
  font-family: 'DM Sans', sans-serif;
}

.app__wrapper {
  padding-top: 3.5rem;
}

.app__main {
  transition: margin-left 0.2s ease;
}

.app__main--with-sidebar {
  margin-left: 14rem; 
}